@{
    //  ViewBag.Title = "Govindam - Home Page";
}


<div class="jumbotron govindamDisplay">
    <h1>GOVINDAM</h1>
    <p class="lead">The construction industry is in a constant state of change, and those who want to be in the know about what is happening in every corner of the industry need to be plugged into the right resources, which often requires keeping up with the top construction blogs available.</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row body-content">
    <div class="col-md-4">
        <h2>Govindam</h2>
        <p>
            The construction industry is in a constant state of change, and those who want to be in the know about what is happening in every corner of the industry need to be plugged into the right resources, which often requires keeping up with the top construction blogs available.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more exprience</h2>
        <p>The construction industry is in a constant state of change, and those who want to be in the know about what is happening in every corner of the industry need to be plugged into the right resources, which often requires keeping up with the top construction blogs available.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Construction Sites</h2>
        <p>The construction industry is in a constant state of change, and those who want to be in the know about what is happening in every corner of the industry need to be plugged into the right resources, which often requires keeping up with the top construction blogs available.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>

